[Desktop Entry]
Type=Application
Name=TransmissionNET
Comment=Desktop client for Transmission RPC
Exec=opt/TransmissonNET/TransmissonNET.App
Icon=transmission-net
Categories=Network;FileTransfer;
StartupWMClass=TransmissionNET
Terminal=false
